/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/vendor
/.env
/.env.*
!.env.example
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode
/.fleet
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log
